body {
  color: black;
  background-color: #f2f2f2;
}
.idea-box {
  background-color: #bfbfbf;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #808080;
}

h2 {
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  border: 2px solid #808080;
  border-radius: 5px;
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 203px;
    background-color: #bfbfbf;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

input[type=text] {
color: darkgray;
border: gray;
border-style: solid;
    border-width: 3px;
font-family: monospace;
display: inline;
width: 200px;
margin-top: 10px;
margin-left: none;
}
input[type=submit] {
color: black;
border: gray;
border-style: solid;
    border-width: 3px;
font-family: monospace;
display: inline;
margin-top: 10px;
margin-left: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: ##f2f2f2;
    color: white;
}
.postId {
    display: none;
}
