body {

  color: black;
  background-color: #f2f2f2;
}
.idea-box {
  margin-left: auto;
  margin-right: auto;
align-items: center;
width:1000px;
  background-color: #bfbfbf;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;

}
h1 {
  text-align: center;
  color: #808080;
}

h2 {
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  border: 2px solid #808080;
  border-radius: 5px;
  text-align: center;
  display:inline-block;
  word-break: break-all;
  width:800px;

}
img{
    max-width: 50%;
    max-height:100%;
    min-width: 50%;
    min-height: 75%;
}




.ideaElement{
 color: #ffffff;
  margin: 10px;
  padding: 10px;
  border: 2px solid #808080;
  border-radius: 5px;
  text-align: center;
  display:inline-block;

}
.item {
  flex-shrink: <number>;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 203px;
    background-color: #bfbfbf;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: ##f2f2f2;
    color: white;
}
.postId {
    display: none;
}
