body {
  color: black;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}
input[type=text] {
color: darkgray;
border: gray;
border-style: solid;
    border-width: 5px;
font-family: monospace;
position: center;
}

input[type=submit] {
  color: white;
  border: none;
  background-color: #B7FDDE;
  border-radius: 8px;
}
