body {
  color: black;
  text-align: center;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}
input[type=name] {
  color: darkgray;
  border: gray;
  border-style: solid;
      border-width: 5px;
  font-family: monospace;
  display: inline;

  width: 800px;
  font-size: 50px;
    border-radius: 8px;

    background-color: #B7F9FD;
}

input[type=submit] {
  color: dark gray;
  border: none;
  background-color: #B7F9FD;
  border-radius: 8px;
   font-weight: bold;
